body {
	background-image: url(images/pixel-heart.png);
}
#title {
	margin: auto;
	width: 400px;
	height: 50px;
	border: solid;
	margin-bottom: 20px;
	background-color: #e6e6e6;
}
#startGame {
	margin: auto;
	width: 100px;
}
#startSpace {
	width: 400px;
	height: 200px;
	border: solid;
	margin: auto;
}
#cellImage {
	background-image: url(images/WhiteCell.png);
	background-color: #757575;
	width: 200px;
	height: 200px;
	float: left;
	border:solid;
	border-left: 0px;
	border-top: 0px;
}
#name {
	margin: auto;
	width: 400px;
	border: solid;
	border-left: 0px;
	border-bottom: 0px;
	border-top: 0px;
	background-color: #757575;
	color: #ffffff;
	border-color: #000000;
}
#cellText {
	background-color: #c9c9c9;
	margin: auto;
	width: 400px;
	height: 160px;
	border: solid;
	border-left: 0px;
	text-align: center;
}
#nextButton {
	width: 400px;
	border:solid;
	text-align: center;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
	background-color: #757575;
	color: #ffffff;
	border-color: #000000;
}
#nextButton:hover {
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
	transition-duration: .5s;
}
#stages {
	margin:auto;
	margin-top: 50px;
	width: 400px;
	height: 100px;
}
.allStages {
	text-align: center;
	color: #ffffff;
	background-color: #666666;
	border:solid;
	border-color: #000000;
	float: left;
	width: 120px;
	height: 100px;
	line-height: 100px;
}
.allStages:hover {
	cursor: pointer;
	background-color: #f5f5f5;
	color: #000000;
	transition-duration: 0.5s;
}
#stageOne {

}
#stageTwo {
	margin-left: 11px;
	margin-right: 11px;
}
#stageThree {

}
#boss {
	text-align: center;
	color: #ffffff;
	background-color: #666666;
	border:solid;
	border-color: #000000;
	margin: auto;
	margin-top: 20px;
	width: 300px;
	height: 100px;
	line-height: 100px;
}
#boss:hover {
	cursor: pointer;
	background-color: #f5f5f5;
	color: #000000;
	transition-duration: 0.5s;
}