#title {
	margin: auto;
	width: 400px;
	height: 100px;
}
#startGame {
	margin: auto;
	width: 100px;
}
#cellImage {
	margin: auto;
	background-image: url(images/Cell.png);
	width: 200px;
	height: 200px;
}
#name {
	margin: auto;
	width: 400px;
}
#cellText {
	margin: auto;
	width: 400px;
}
#nextButton {
	margin:auto;
	width: 100px;
}