#title {
	margin: auto;
	width: 400px;
	height: 100px;
}
#startGameSpace {
	margin: auto;
	width: 200px;
	background-color: blue;
}
#startGame {
  margin: 0;
  left: 50px;
}
#cellImage {
	background-image: url(/images/Cell.png);
}
#name {
	margin: auto;
	width: 400px;
}
#cellText {
	margin: auto;
	width: 400px;
}
#nextButtonSpace {
	margin: auto;
	width: 200px;
}